<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
  <h3>Планеты</h3>
  <table  border="1px" id="tablePlanet">
    <thead>
      <th>Название планеты</th>
      <th>Повелитель планеты</th>
      <th></th>
    </thead>
        <tbody>
          <tr th:each="planet: ${planets}">
            <td th:text="${planet.planetName}"></td>
            <td th:text="${planet.lord}"></td>
            <td>
            <button id="deletePlanet" th:href="@{'/delete/${planet.id}'}">удалить планету</button>
            </td>
          </tr>
        </tbody>
  </table>

</body>
</html>